@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  :root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    background-color: #f5f5f5;
  }

  :root.dark {
    background-color: #030712;
  }

  body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    /* transition-colors helps the background change smoothly */
    @apply bg-[#f5f5f5] text-[#213547] dark:bg-gray-950 dark:text-gray-100 transition-colors duration-300;
  }
}